<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwd.mapper.AdtGrpMapper">
  <resultMap id="BaseResultMap" type="com.gwd.entity.AdtGrp">
    <constructor>
      <arg column="adt_grp_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="atd_grp_nm" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="adt_grp_type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="adt_prjgrp_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="adt_prj_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="by_inst_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="by_inst_nm" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="exe_inst_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="exe_inst_nm" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created_by" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="created_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated_by" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="updated_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.gwd.entity.AdtGrp">
    insert into adt_grp (adt_grp_id, atd_grp_nm, adt_grp_type, 
      adt_prjgrp_id, adt_prj_id, by_inst_id, 
      by_inst_nm, exe_inst_id, exe_inst_nm, 
      created_by, created_time, updated_by, 
      updated_time)
    values (#{adtGrpId,jdbcType=BIGINT}, #{atdGrpNm,jdbcType=VARCHAR}, #{adtGrpType,jdbcType=TINYINT}, 
      #{adtPrjgrpId,jdbcType=BIGINT}, #{adtPrjId,jdbcType=BIGINT}, #{byInstId,jdbcType=BIGINT}, 
      #{byInstNm,jdbcType=VARCHAR}, #{exeInstId,jdbcType=BIGINT}, #{exeInstNm,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gwd.entity.AdtGrp">
    insert into adt_grp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adtGrpId != null">
        adt_grp_id,
      </if>
      <if test="atdGrpNm != null">
        atd_grp_nm,
      </if>
      <if test="adtGrpType != null">
        adt_grp_type,
      </if>
      <if test="adtPrjgrpId != null">
        adt_prjgrp_id,
      </if>
      <if test="adtPrjId != null">
        adt_prj_id,
      </if>
      <if test="byInstId != null">
        by_inst_id,
      </if>
      <if test="byInstNm != null">
        by_inst_nm,
      </if>
      <if test="exeInstId != null">
        exe_inst_id,
      </if>
      <if test="exeInstNm != null">
        exe_inst_nm,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adtGrpId != null">
        #{adtGrpId,jdbcType=BIGINT},
      </if>
      <if test="atdGrpNm != null">
        #{atdGrpNm,jdbcType=VARCHAR},
      </if>
      <if test="adtGrpType != null">
        #{adtGrpType,jdbcType=TINYINT},
      </if>
      <if test="adtPrjgrpId != null">
        #{adtPrjgrpId,jdbcType=BIGINT},
      </if>
      <if test="adtPrjId != null">
        #{adtPrjId,jdbcType=BIGINT},
      </if>
      <if test="byInstId != null">
        #{byInstId,jdbcType=BIGINT},
      </if>
      <if test="byInstNm != null">
        #{byInstNm,jdbcType=VARCHAR},
      </if>
      <if test="exeInstId != null">
        #{exeInstId,jdbcType=BIGINT},
      </if>
      <if test="exeInstNm != null">
        #{exeInstNm,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>