<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwd.mapper.AdtPrjMapper">
  <resultMap id="BaseResultMap" type="com.gwd.entity.AdtPrj">
    <constructor>
      <arg column="adt_prj_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="adt_prj_nm" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="adt_plan_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="state" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="bld_mtd" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="adt_stdt" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="adt_eddt" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="impl_stdt" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="impl_eddt" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="exp_days" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="lead_dept_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="mngd_dept_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="ases_anul" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="prj_ceft" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="anul_plan_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="created_by" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="created_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated_by" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="updated_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.gwd.entity.AdtPrj">
    insert into adt_prj (adt_prj_id, adt_prj_nm, adt_plan_id, 
      state, type, bld_mtd, 
      adt_stdt, adt_eddt, impl_stdt, 
      impl_eddt, exp_days, lead_dept_id, 
      mngd_dept_id, ases_anul, prj_ceft, 
      anul_plan_id, created_by, created_time, 
      updated_by, updated_time)
    values (#{adtPrjId,jdbcType=BIGINT}, #{adtPrjNm,jdbcType=VARCHAR}, #{adtPlanId,jdbcType=BIGINT}, 
      #{state,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{bldMtd,jdbcType=TINYINT}, 
      #{adtStdt,jdbcType=DATE}, #{adtEddt,jdbcType=DATE}, #{implStdt,jdbcType=DATE}, 
      #{implEddt,jdbcType=DATE}, #{expDays,jdbcType=SMALLINT}, #{leadDeptId,jdbcType=BIGINT}, 
      #{mngdDeptId,jdbcType=BIGINT}, #{asesAnul,jdbcType=VARCHAR}, #{prjCeft,jdbcType=TINYINT}, 
      #{anulPlanId,jdbcType=BIGINT}, #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gwd.entity.AdtPrj">
    insert into adt_prj
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adtPrjId != null">
        adt_prj_id,
      </if>
      <if test="adtPrjNm != null">
        adt_prj_nm,
      </if>
      <if test="adtPlanId != null">
        adt_plan_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="bldMtd != null">
        bld_mtd,
      </if>
      <if test="adtStdt != null">
        adt_stdt,
      </if>
      <if test="adtEddt != null">
        adt_eddt,
      </if>
      <if test="implStdt != null">
        impl_stdt,
      </if>
      <if test="implEddt != null">
        impl_eddt,
      </if>
      <if test="expDays != null">
        exp_days,
      </if>
      <if test="leadDeptId != null">
        lead_dept_id,
      </if>
      <if test="mngdDeptId != null">
        mngd_dept_id,
      </if>
      <if test="asesAnul != null">
        ases_anul,
      </if>
      <if test="prjCeft != null">
        prj_ceft,
      </if>
      <if test="anulPlanId != null">
        anul_plan_id,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adtPrjId != null">
        #{adtPrjId,jdbcType=BIGINT},
      </if>
      <if test="adtPrjNm != null">
        #{adtPrjNm,jdbcType=VARCHAR},
      </if>
      <if test="adtPlanId != null">
        #{adtPlanId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="bldMtd != null">
        #{bldMtd,jdbcType=TINYINT},
      </if>
      <if test="adtStdt != null">
        #{adtStdt,jdbcType=DATE},
      </if>
      <if test="adtEddt != null">
        #{adtEddt,jdbcType=DATE},
      </if>
      <if test="implStdt != null">
        #{implStdt,jdbcType=DATE},
      </if>
      <if test="implEddt != null">
        #{implEddt,jdbcType=DATE},
      </if>
      <if test="expDays != null">
        #{expDays,jdbcType=SMALLINT},
      </if>
      <if test="leadDeptId != null">
        #{leadDeptId,jdbcType=BIGINT},
      </if>
      <if test="mngdDeptId != null">
        #{mngdDeptId,jdbcType=BIGINT},
      </if>
      <if test="asesAnul != null">
        #{asesAnul,jdbcType=VARCHAR},
      </if>
      <if test="prjCeft != null">
        #{prjCeft,jdbcType=TINYINT},
      </if>
      <if test="anulPlanId != null">
        #{anulPlanId,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>