<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwd.mapper.AdtSchmMapper">
  <resultMap id="BaseResultMap" type="com.gwd.entity.AdtSchm">
    <constructor>
      <arg column="adt_schm_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="adt_grp_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="adt_tgt" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="created_by" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="created_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated_by" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="updated_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.gwd.entity.AdtSchm">
    insert into adt_schm (adt_schm_id, adt_grp_id, adt_tgt, 
      created_by, created_time, updated_by, 
      updated_time)
    values (#{adtSchmId,jdbcType=BIGINT}, #{adtGrpId,jdbcType=BIGINT}, #{adtTgt,jdbcType=BIGINT}, 
      #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gwd.entity.AdtSchm">
    insert into adt_schm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adtSchmId != null">
        adt_schm_id,
      </if>
      <if test="adtGrpId != null">
        adt_grp_id,
      </if>
      <if test="adtTgt != null">
        adt_tgt,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adtSchmId != null">
        #{adtSchmId,jdbcType=BIGINT},
      </if>
      <if test="adtGrpId != null">
        #{adtGrpId,jdbcType=BIGINT},
      </if>
      <if test="adtTgt != null">
        #{adtTgt,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>